# For Examples
# If you have /var/www/vendor and have copied the examples directory to /var/www/html
# then you can use $_site = require_once(getenv("SITELOADNAME")); Otherwise, you will need the full
# path in the require_once. See the examples in IfComposer directory.
Options +Indexes
Require all granted
# NOTE your apache must have mod_env, mod_headers and mod_rewrite
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Expose-Headers: Content-Length
# Set the environment variable for the siteloader. 
SetEnv SITELOADNAME /var/www/vendor/bartonlp/simple-site-class/includes/siteload.php
setEnv SITECLASS_DIR /var/www/vendor/bartonlp/simple-site-class/includes


